# gradle

.gradle/
build/
out/

# kotlin
.kotlin/

# idea

.idea/
*.iml
*.ipr
*.iws

# eclipse

*.launch

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_STORE

# for mod loader. e.g., forge, neoforge, fabric

**/run/

# local development settings

/local.dev.properties
